<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="EasyTaskAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><userSettings>
        <EasyTaskAddin.Properties.Settings>
            <setting name="RemoveCategoryName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseKeywordCategoryPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBracketCategoryPattern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseArrowCategoryPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomCategoryPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomCategoryPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveDueDateString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAddin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessChangedTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateNewCategoryIfNotExists" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyTaskAddin.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
